extends basic-layout
block content-front
  body
    .container
      .row.clearfix
        .col-md-12.column
          nav.navbar.navbar-default.navbar-static-top(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Brand
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Index
              form.navbar-form.navbar-left(role='search', method='post', action='/project/result/'+myusername)
                select.selectpicker(data-width='fit', name='searchselect')
                  option(value='name') By Project Name
                  option(value='tag') By Project Tag
                  option(value='owner') By Owner
                input.form-control(type='text', placeholder='Search for...', name='searchtext')
                button.btn.btn-default(type='submit') Search
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/users/logout') Log Out
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Navigation
                    strong.caret
                  ul.dropdown-menu
                    li
                      a(href='/account/'+myusername+'/information') My Account
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
      block content-main
