extends basic-layout
block title
	title Register
block content-front
	body
		.container
			h1 Register
			.row.clearfix
				.col-md-12.column
					form(role='form', method='post', action='/users/createuser')
						.form-group
							label(for='inputUsername') *Username: 
							input#InputUsername.form-control(type='text', name='inputUsername')
						.form-group
							label(for='inputPassword') *Password: 
							input#InputPassword.form-control(type='password', name='inputPassword')
						.form-group
							label(for='inputName') Name: 
							input#InputName.form-control(type='text', name='inputName')
						.form-group
							label(for='inputHometown') Hometown: 
							input#InputHometown.form-control(type='text', name='inputHometown')
						.form-group
							label(for='inputInterest') Interest: 
							input#InputInterest.form-control(type='text', name='inputInterest')
						button.btn.btn-default(type='submit') Submit
						if error
							.alert.alert-dismissable.alert-warning
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								h1 Your username has been used.
