extends navibar-layout
block title
   title My Pledge
block content-main	
     h1 #{Pname} 
       span.label.label-default   #{pstatus}    
       .col-md-12
         img.img-rounded(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg', alt='Cinque Terre', width='900', height='400')
      h1 ABOUT LAUNCH
        p #{des}
      form.form-signin(method='POST', action='/pledge/' +pid +'/check/' + myusername)
        h2.form-signin-heading Please Enter the amount:
        label.sr-only(for='$') $
        input#amount.form-control(type='text', name='amount', placeholder='$', required='', autofocus='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Pledge