extends navibar-layout
block title
   title Post Project
block content-main
  .row.clearfix
    .col-md-12.column
      form(role='form')
        .form-group
          label(for='InputProjectName') Project Name:
          input#InputProjectName.form-control(type='text')
        .form-group
          label(for='InputProjectDescription') Project Description:
          textarea#InputProjectDescription.form-control(row='10')
        .form-group
          label(for='InputMinMax') Please type in minimal and maximal amount: 
          p Min:
          input#InputMinMax.form-control(type='text')
          p Max:
          input#InputMinMax.form-control(type='text')
          p.help-block
            | in $
        .form-group
          input#searchWords.form-control(type='text', name='searchWords', data-provide='typeahead', autocomplete='off', placeholder='Tag ...')
        button.btn.btn-default(type='submit') Submit