extends navibar-layout
block title
   title My Search
block content-main
      .row
        for row1 in rows
          .col-md-4.card()
          
            img.card-img-top(src='https://assets.entrepreneur.com/content/3x2/1300/20161114224458-shutterstock-212710381.jpeg',width='250', height='250', alt='Card image cap')
            .card-block
            h4.card-title #{row1.Pname}
            p.card-text #{row1.description}
            a.btn.btn-primary(href='/project/' + row1.pid ) View
          
           
            
            
            

            
