extends navibar-module
block title
   title Account
block content
      .row.clearfix
        .col-md-3.column
          h1 Menu List
          .list-group
            a.list-group-item(href='/account/projects') My Projects
            a.list-group-item(href='/account/following') My Following
            a.list-group-item(href='/account/follower') My Follower
            a.list-group-item(href='/account/pledges') My Pledges
            a.list-group-item(href='/account/comments') My Comments
            a.list-group-item(href='/account/likes') My Likes
            a.list-group-item(href='/account/rates') My Rates
        .col-md-9.column
          #panel-783993.panel-group
            #projects
              //- console.log('session: '+session);
              if projects
                each project in projects
                  .panel.panel-default
                    .panel-heading
                      a.panel-title(data-toggle='collapse', data-parent='#panel-783993', href='#'+project.name) #{project.name}
                    div(id = project.name, class = 'panel-collapse.in')
                      .panel-body
                        | #{project.description}
                else
                  h1 You have no projects.
    